<html>
<head>
<link rel='stylesheet' type='text/css' href='resources/styles.css'>
<script src='resources/scripts.js'></script>
<script>
    document.grid = {{grid}};
    document.buildings = {{buildings}};
    document.grid_width = {{grid_width}};
    document.grid_height = document.grid.length / document.grid_width;
</script>
</head>
<body>
<h1>Ethics World</h1>
<section>
<canvas id="map_canvas" width="300" height="300"></canvas>
<div id="labels">
<div id="dead"></div>
<div id="collisions"></div>
<div id="trips_completed"></div>
</div>
</section>
</body>
</html>
